<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.tees.t7191599.agile_ica_0001">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appiconlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BmiVisual"></activity>
        <activity android:name=".Gymactivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUPActivity" />
        <activity
            android:name=".LogInActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".EventListActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".NutritionPlanner" />
        <activity android:name=".StepInterface" />
        <activity android:name=".First_loginActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".toutoralPage" />
        <activity android:name=".HealthTracker" />
        <activity
            android:name=".BMICalcActivity"
            android:label="@string/title_activity_bmicalc"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>